.table {
    background-color: rgb(77, 182, 77);
    max-width: 50%;
}

thead {

}

.table>tbody>tr>td {
    padding: 50px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.col-one {
    height: 20vh;
}

td {
    border: 1px solid white;
    text-align: center;
    font-size: 2em;
    color: white;
    width: 50vw;
}

#answer {
    border: none;
}

.operations {
    color: gray;
    background-color: lightgreen;
}

/* Next styles only for js-calc2 buttons */

